:root {
    /* #000000 */
    --border-color: #909090;
    --background-base: #000000;
    --background-el: #2b2b2b;
    --font-color: #cfcfcf;
    --hover-color: #505050;
    --focus-color: #707070;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
}

#root {
    height: 100vh;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#MainContainer {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#SideMenu {
    flex: 0 0 15%;
    background-color: var(--background-el);
    display: flex;
    flex-direction: column;
}

#sideMenuBurger {
    height: 60px;
    width: 60px;
    margin: 0%;
    padding: 0%;
}

#sideMenuBurger:hover,
.sideMenuButton:hover,
#AddPlayList:hover,
#shuffleButton:hover,
/* #displaySort  */
select:hover,
#AddFolderContainer:hover,
.Folder img:hover,
#topSubNav *:hover,
#dialog-container div button:hover {
    background-color: var(--hover-color);
}

#sideMenuBurger:active,
.sideMenuButton:active,
#AddPlayList:active,
#shuffleButton:active,
#dialog-container div button:active {
    animation: el-selection 0.05s linear forwards;
}

@keyframes el-selection {
    0% {
        background-color: var(--hover-color);
        transform: scale(1);
    }

    50% {
        transform: scale(0.98);
    }

    100% {
        background-color: var(--focus-color);
        transform: scale(1);
    }

}

p,
h1,
h2,
h3,
label {
    color: var(--font-color);
}

.sideMenuButton {
    border-left: 10px solid transparent;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* .sideMenuButton:active {
    border-left: 10px solid #1a1a1a;
} */

.sideMenuButton img {
    max-width: 40px;
}

#SearchBar {
    width: auto;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

#SearchBar input {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    border: none;
    background-color: var(--background-el);
}

#SearchBar img {
    background-color: var(--background-el);
    width: 45px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

#PlaylistsButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 2;
    width: 100%;
}

#PlaylistsContainer {
    width: auto;
    height: auto;
    border-top: 1px solid var(--border-color);
}

#AddPlayList {
    height: inherit;
    max-width: none;
    width: 45px;
    z-index: 5;
}

#Playlists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

#MainScrollable {
    flex: 1;
    height: inherit;
    overflow: auto;
}

div {
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
}

.sideMenuButton p {
    width: 100%;
}

#Setting {
    border-top: 1px solid var(--border-color);
    flex: 0;
}

/* PlayerControlsContainer */
#PlayerControlsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    /* height: 10%;
    width: 100%;
    background-color: lightcoral; */
}



#PlayerControlsButtons img,
#controlMute {
    max-width: 40px;
}

#PlayerControlsSongData {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    align-items: stretch;
    justify-content: start;
}

#PlayerControlsSongDataAlbum {
    width: 80%;
}

#PlayerControlsTime {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#PlayerControls {
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

input[type="range"] {
    width: 100%;
}

#PlayerControlsButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

#PlayerControlsMisc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#AppContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#MainDisplay {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0% 2%;
}

#MainDisplay h3,
#Setting h3 {
    margin: 3% 0% 1% 0%;
    font-size: 24px;
}

#topSubNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

#topSubNav * {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
    border: 1px solid var(--border-color);
}



#displaySort {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5% 0%;
    border-bottom: 1px solid var(--border-color);
    height: 4%;
}

#shuffleButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 1% 1% 0%;
    height: 90%;
    width: 10%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

#shuffleButton img {
    max-width: 30%;
    width: 30%;
}

#shuffleButton p {
    padding: 0% 1% 0% 0%;
    margin: 0% 1% 0% 0%;
}




select {
    padding: 0.5% 1% 0.5% 0%;
    margin: 0% 1% 0% 0%;
    border-right: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: transparent;
    color: var(--font-color);
}

select * {
    color: var(--font-color);
    background-color: var(--background-base);
}

select *:hover {
    background-color: var(--border-color);
}

.song-el-container-list {
    /* background-color: #000000; */
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    --display: none;
}

.song-el-container-list:hover {
    background-color: var(--hover-color);
    --display: block;
}

.odd {
    background-color: var(--background-el);
}


.song-el-container-list .song-el-check {
    width: 20px;
    height: 20px;
    margin: 1%;
}

.song-el-check {
    border: 1px solid var(--border-color);
    background-repeat: no-repeat;
    background-size: cover;
}

.song-el-container-list img {
    max-width: 45px;
}

.song-el-container-list .song-el-play,
.song-el-container-list .song-el-add {
    display: var(--display);
}

.song-el-container-list .song-el-play:hover,
.song-el-container-list .song-el-add:hover {
    background-color: var(--focus-color);
    cursor: pointer;
}


.song-el-container-list .song-el-artist,
.song-el-container-list .song-el-album {
    flex: 1 0 10%;
    text-overflow: clip;
    word-break: keep-all;
}

.song-el-container-list .song-el-title {
    margin-left: 1vw;
    overflow: hidden;
    text-overflow: clip;
    word-break: break-all;
}

.song-el-container-list .song-el-time {
    margin-right: 1%;
    text-align: end;
}

.mainGrid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 30vh;
    gap: 10px;
}

.mainGrid .song-el-container-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    position: relative;
    --display: none;
}

.mainGrid .song-el-container-grid:hover {
    background-color: var(--hover-color);
    --display: flex;
}

.mainGrid .song-el-container-grid .song-el-title {
    font-size: 20px;
}

.mainGrid .song-el-container-grid img {
    max-width: 100%;
}

.mainGrid .song-el-container-grid * {
    margin: 0%;
    padding: 1%;
}


.mainGrid .song-el-container-grid .song-el-buttons img {
    max-width: 50%;
    border: 1px solid var(--border-color);
}

.mainGrid .song-el-container-grid .song-el-buttons img:hover {
    background-color: var(--hover-color);
}

.mainGrid .song-el-container-grid .song-el-buttons {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    display: var(--display);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4b87;

}

#Settings {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0% 2%;
}

#Settings img {
    max-width: 40px;
}

#AddFolderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
}



.Folder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-el);
    border: 1px solid var(--border-color);
    margin-top: 1%;
}

.Folder input {
    flex: 1;
    background: transparent;
    color: var(--font-color);
    outline: none;
    border: none;
}

.Folder input:focus {
    border-left: 1px solid var(--focus-color);
}

#selectedActions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 5%;
}

#selectedActions p {
    text-align: center;
    display: flex;
    align-items: center;
    height: 60%;
    border: 1px solid var(--border-color);
    width: 10%;
    margin: 0%;
    padding: 0%;

}

#selectedActions p:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#selectedActions p:active {
    background-color: var(--focus-color);
}

#selectedActions #main-existing-playlists-container {
    border: 1px solid var(--border-color);
    padding: 0.4%;
    display: flex;
    align-items: center;
}

#main-existing-playlists-container label {
    width: 8vw;
}

#topNav {
    position: sticky;
    top: 0%;
    background-color: var(--background-base);
}

#new-playlist-dialog {
    background-color: #00000075;
    z-index: 20;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

#dialog-container {
    width: 20%;
    height: 10%;
    background: var(--background-base);
    display: flex;
    border: 1px solid var(--border-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#dialog-container input {
    height: 25%;
    background: var(--background-el);
    color: var(--font-color);
    outline: none;
    border: none;
    margin: 1% 0% 1% 0%;
    border: 1px solid transparent;
}

#dialog-container input:focus {
    border: 1px solid var(--border-color);
}

#dialog-container div {
    margin: 1% 0% 1% 0%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dialog-container div button {
    width: 50%;
    background: transparent;
    color: var(--font-color);
    border: 1px solid var(--background-el);
    padding: 3%;
}